<div class="container">
  <h2>AUTORIZACION PARA DOMICILIAR</h2>

  <form>
    <!-- DATOS FISCALES PERSONA FISICA O MORAL -->
    <fieldset>
      <legend>Autorización para Domiciliar</legend>
      <br>
      <div class="two-columns">
        <div>
          <label for="entity">Entidad emisora del Recibo</label>
          <input maxlength="50" disabled type="text" id="entity" name="entity" [(ngModel)]="entity" />
        </div>

        <div>
          <label>Tipo de Servicio Prestado</label>
          <ng-select [items]="typeService" bindLabel="type" bindValue="type" placeholder="El tipo de servicio"
            [(ngModel)]="typeServiceSelected" name="typeService" class="custom-ng-select" [clearable]="true"
            [searchable]="true" dropdownPosition="auto">
            <ng-template #ngOptionTemplate let-item="item">
              <div class="custom-option">
                <span> {{ item.id }} - {{ item.type }}</span>
              </div>
            </ng-template>
          </ng-select>
        </div>

        <div>
          <label for="numNomC">Nombre de cliente, con ID <span>*</span></label>
          <input type="text" id="numNomC" name="numNomC" [(ngModel)]="numNameClient"
            placeholder="ID de cliente con nombre  ejemplo: 1503 Roberto Saldaña" />
        </div>

        <div>
          <label for="hiring">Plazo de Domiciliación</label>
          <ng-select [items]="hiringPeriod" bindValue="period" bindLabel="period" placeholder="Seleccione el periodo"
            [(ngModel)]="hiringPeriodSelected" [multiple]="false" name="hiring" class="custom-ng-select"
            [clearable]="true" [searchable]="true" dropdownPosition="auto">
            <ng-template #ngOptionTemplate let-item="item">
              <div class="custom-option">
                <span> {{ item.id }} - {{ item.period }}</span>
              </div>
            </ng-template>
          </ng-select>
        </div>

        <div>
          <label for="nameTi">Titular de la cuenta</label>
          <input type="text" id="nameTi" name="nameTi" [(ngModel)]="holder" maxlength="50" />
        </div>

        <div>
          <label for="zona">Número de tarjeta (16 dígitos)<span>*</span></label>
          <input maxlength="50" type="text" id="zona" name="zone" [(ngModel)]="numAccount" />
        </div>

        <div>
          <label for="telefono">Celular</label>
          <input type="tel" id="telefono" name="telPerson" [(ngModel)]="telPerson" placeholder="Ejemplo: 4443698521" />
        </div>

        <div>
          <label for="dueDate">Fecha de vencimiento tarjeta (MM/YY)<span>*</span></label>
          <input type="text" id="dueDate" name="dueDate" [(ngModel)]="dueDate" placeholder="MM/YY"
            pattern="^(0[1-9]|1[0-2])\\/\\d{2}$" />
          <small style="font-style: italic; color: #666;">Ejemplo: 02/24</small>
        </div>

        <div>
          <label for="correo">Correo Electrónico</label>
          <input type="email" id="correo" name="emailPerson" [(ngModel)]="emailPerson" />
        </div>

        <div>
          <label for="address">Domicilio registrado en la tarjeta</label>
          <input type="text" id="address" name="address" [(ngModel)]="address" />
        </div>

        <div>
          <label for="cantT">Cantidad total<span>*</span></label>
          <input type="text" id="cantT" name="cantT" [(ngModel)]="cantT" />
        </div>

        <div>
          <label for="hiring">Días de Cargo <span>*</span></label>
          <input type="number" min="1" max="25" id="daysPay" name="daysPay" [(ngModel)]="dayPayOpen"
            oninput="if (this.value !== '' && this.value < 1) this.value = 1; if (this.value !== '' && this.value > 25) this.value = 25; if (this.value.length > 2) this.value = this.value.slice(0, 2);" />
          <!-- <ng-select [items]="daysPay" bindLabel="day" bindValue="day" placeholder="Seleccione el día   
          " [(ngModel)]="dayPaySelected" [multiple]="false" name="daysPay" class="custom-ng-select" [clearable]="true"
            [searchable]="true" dropdownPosition="auto">
            <ng-template #ngOptionTemplate let-item="item">
              <div class="custom-option">
                <span> {{ item.id }} - {{ item.day }}</span>
              </div>
            </ng-template>
          </ng-select> -->
          <small style="font-style: italic; color: #666;">
            Los días de cargo son los días del mes que se le hará el cargo a su tarjeta mes con mes del 1 al 25.
          </small>
        </div>
      </div>
    </fieldset>

    <!-- Carga de Documentos -->
    <fieldset>
      <legend>Carga de Documentos</legend>
      <div>
        <h3>Adjuntar los siguientes documentos:</h3>
        <ul>
          <li>Copia del INE</li>
          <li>Copia del número de cuenta y/o tarjeta</li>
        </ul>
      </div>
      <div class="file-upload">

        <p><i>Que no pase de 10 MegaBytes</i></p>
        <p><i>Comprima los docmentos y subalos</i></p>
        <p><i>Solo Formato .ZIP</i></p>
        <label for="zipInput" class="file-label">Subir Archivo Comprimido</label>
        <input type="file" accept=".zip" id="zipInput" class="file-input"
          (change)="onFileSelected($event, 'zipFile')" />
        <span class="file-name">{{ zipFileName || 'Ningún archivo seleccionado' }}</span>
      </div>
    </fieldset>

    <div class="terms" style="margin-left: 40%; margin-bottom: 20px;">
      <label class="checkbox-label" >
        <input type="checkbox" [(ngModel)]="checked" name="terms"> Acepto el Aviso de Privacidad
      </label>
      <a href="http://elpoderdeinternet.mx/privacidad.pdf" target="_blank" class="link">Ver Aviso de Privacidad</a>

    </div>


    <!-- Botón de envío -->
    <button type="button" (click)="submitAll()" class="btn-submit">
      Enviar
    </button>
  </form>
</div>