<div class="container">
  <h2 style="text-align: center; margin-bottom: 5%;">AUTORIZACION PARA DOMICILIAR</h2>

  <form>
    <!-- INFORMACION PREELIMINAR -->




    <!-- DATOS FISCALES PERSONA FISICA O MORAL -->
    <fieldset>
      <legend>AUTORIZACION PARA DOMICILIAR</legend>
      <br>
      <div class="two-columns">
        <div>
          <label for="entity">Entidad emisora del Recibo</label>
          <input maxlength="50" disabled type="text" id="entity" name="entity" [(ngModel)]="entity" />
        </div>

        <div style="width: 100%; max-width: 400px; margin: auto;">
          <label for="">Tipo de Servicio Prestado</label>
          <ng-select [items]="typeService" bindLabel="type" placeholder="El tipo de servicio"
            [(ngModel)]="typeServiceSelected" name="typeService" class="custom-ng-select" [clearable]="true"
            [searchable]="true" dropdownPosition="auto">
            <ng-template #ngOptionTemplate let-item="item">
              <div class="custom-option">
                <span> {{ item.id }} - {{ item.type }}</span>
              </div>
            </ng-template>
          </ng-select>
        </div>
        <div>
          <label for="numNomC">Nombre de cliente, con id</label>
          <input type="text" id="numNomC" name="numNomC" [(ngModel)]="numNameClient" placeholder="" />
        </div>


        <div>
          <div style="width: 100%; max-width: 400px; margin: auto;">
            <label for="hiring">Plazo de contratación</label>
            <ng-select [items]="hiringPeriod" bindLabel="period" placeholder="Seleccione el perdiodo"
              [(ngModel)]="hiringPeriodSelected" [multiple]="false" name="hiring" class="custom-ng-select"
              [clearable]="true" [searchable]="true" dropdownPosition="auto">
              <ng-template #ngOptionTemplate let-item="item">
                <div class="custom-option">
                  <span> {{ item.id }} - {{ item.period }}</span>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>

        <div>
          <label for="nameTi">Titular de la cuenta</label>
          <input type="text" id="pais" name="nameTi" [(ngModel)]="holder" maxlength="50" />
        </div>

        <div>
          <label for="zona">Numero de la cuenta</label>
          <input maxlength="50" type="text" id="zona" name="zone" [(ngModel)]="numAccount" />
        </div>
        <div>
          <label for="telefono">Celular</label>
          <input type="tel" id="telefono" name="telPerson" [(ngModel)]="telPerson" placeholder="Ejemplo:524443698521" />
        </div>
        <div>
          <label for="dueDate">Fecha de Vencimiento</label>
          <input type="text" id="dueDate" name="dueDate"
            [(ngModel)]="dueDate" /><!--Aqui es la fecha de vencimiento de la tarjeta -->
        </div>
        <div>
          <label for="correo">Correo Electrónico (Obligatorio)</label>
          <input type="email" id="correo" name="emailPerson" [(ngModel)]="emailPerson" />
        </div>
        <div>
          <label for="address">Domicilio registrador en la tarjeta</label>
          <input type="text" id="address" name="address" [(ngModel)]="address" />
        </div>
        <div>
          <label for="cantT">Cantidad total</label>
          <input type="text" id="cantT" name="cantT" [(ngModel)]="cantT" />
        </div>
        <div>
          <div style="width: 100%; max-width: 400px; margin: auto;">
            <label for="hiring">Dias de Cargo</label>
            <ng-select [items]="daysPay" bindLabel="day" placeholder="Seleccione el día de cargo"
              [(ngModel)]="dayPaySelected" [multiple]="false" name="daysPay" class="custom-ng-select" [clearable]="true"
              [searchable]="true" dropdownPosition="auto">
              <ng-template #ngOptionTemplate let-item="item">
                <div class="custom-option">
                  <span> {{ item.id }} - {{ item.day }}</span>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </fieldset>

    <!-- DOMICILIO DE INSTALACION -->
    <fieldset>
      <legend>Carga de Documentos</legend>

      <div class="file-upload">
        <p>Que no pase de 10 MegaBytes</p>
        <label for="zipInput" class="file-label">Subir Archivo Comprimido</label>
        <input type="file" accept="zip" id="zipInput" class="file-input" (change)="onFileSelected($event, 'zipFile')">
        <span class="file-name">{{ zipFileName || 'Ningún archivo seleccionado' }}</span>
      </div>
      <small>

      </small>

    </fieldset>



    <!-- Botón de envío -->
    <button type="button" (click)="submitAll()" class="btn-submit">

      Enviar
    </button>
  </form>
</div>